<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-white">GifsApp</h3>
    <hr class="text-white">
    <div class="list-group">
        <button class="list-group-item list-group-item-action">
            Perro
        </button>
        <button class="list-group-item list-group-item-action">
            Gato
        </button>
        <button class="list-group-item list-group-item-action">
            Humano
        </button>
        <button class="list-group-item list-group-item-action">
            Persona
        </button>
    </div>
</div>