<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">APK Manager</h3>
    <hr class="text-white">
  
    <div class="list-group">
        <button 
            class="list-group-item list-group-item-action"
            routerLink="users" 
            routerLinkActive="active"
        >
            Usuarios
        </button>
        <button 
            class="list-group-item list-group-item-action"
            routerLink="apps" 
            routerLinkActive="active"
        >
            Apps
        </button>
    </div>
</div>
  