<div class="row d-flex f-row justify-content-center align-items-center create-user-canvas">
    <div class="col-10 col-md-8 col-lg-6">
        <form #formCreateUser="ngForm" class="row" id="form-create-user" (ngSubmit)="createUser()">
            <input 
                class="form-control mb-2"
                type="text" 
                name="username"
                [(ngModel)] = "userToCreate.username"
                placeholder="Nombre de usuario"
                required="true"
            >
            <input 
                class="form-control mb-3"
                type="text" 
                name="email"
                [(ngModel)] = "userToCreate.email"
                placeholder="Correo electrónico"
                required="true"
            >
            <div *ngFor="let app of apps" class="form-check mb-2">
                <input 
                  class="form-check-input" 
                  type="checkbox" 
                  value="" 
                  id="flexCheckDefault"
                  [checked]="userToCreate.apps_enabled.includes(app.id)"
                  (change)="onChangeSelectedApp(app.id)"
                >
                <label class="form-check-label" for="flexCheckDefault">
                  {{app.name}}
                </label>
            </div>
            <button
                class="btn btn-primary mt-2"
                type="submit"
                [disabled]="!formCreateUser.form.valid"
            >
                Crear usuario
            </button>
        </form>
    </div>
</div>