<app-loading-spinner *ngIf="loadingRoles || allAppsLoading"></app-loading-spinner>
<div class="row d-flex f-row justify-content-center align-items-center create-user-canvas">
    <div class="col-10 col-md-8 col-lg-6">
        <form #formCreateUser="ngForm" class="row" id="form-create-user" (ngSubmit)="createUser()">
            <label class="mb-2 ps-0">Nombre de usuario</label>
            <input 
                class="form-control mb-3"
                type="text" 
                name="username"
                [(ngModel)] = "userToCreate.username"
                placeholder="Nombre de usuario"
                required="true"
            >
            <label class="mb-2 ps-0">Correo electrónico</label>
            <input 
                class="form-control mb-3"
                type="text" 
                name="email"
                [(ngModel)] = "userToCreate.email"
                placeholder="Correo electrónico"
                required="true"
            >
            <label class="mb-2 ps-0">Contraseña</label>
            <input 
                class="form-control mb-3"
                type="text" 
                name="password"
                [(ngModel)] = "password"
                placeholder="Contraseña"
                required="true"
            >
            <label for="role-select">Rol</label>
            <select class="form-control mb-3" id="role-select" [(ngModel)]="userToCreate.role" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let role of roles" [value]="role.label">{{ role.label }}</option>
            </select>
            <label class="mb-2 ps-0">Aplicaciones disponibles</label>
            <div *ngFor="let app of allApps" class="form-check mb-2">
                <input 
                  class="form-check-input" 
                  type="checkbox" 
                  value="" 
                  id="flexCheckDefault"
                  [checked]="userToCreate.apps_enabled.includes(app.id)"
                  (change)="onChangeSelectedApp(app.id)"
                >
                <label class="form-check-label" for="flexCheckDefault">
                  {{app.name}}
                </label>
            </div>
            <button
                class="btn btn-primary mt-2"
                type="submit"
                [disabled]="!formCreateUser.form.valid"
            >
                Crear usuario
            </button>
        </form>
    </div>
</div>