<div class="wrapper">
  <div class="container">
    <div class="row end">
      <p class="result">{{content}}</p>
    </div>
    <div class="row">
      <app-button [letter]="'C'" [color] ="'#949494'" [fontColor]="'black'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'+/-'" [color] ="'#949494'" [fontColor]="'black'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'%'" [color] ="'#949494'" [fontColor]="'black'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'÷'" [color] ="'#FD8D0E'" (childEvent)="handleChildEvent($event)"/>
    </div>
    <div class="row">
      <app-button [letter]="'7'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'8'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'9'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'x'" [color] = "'#FD8D0E'" (childEvent)="handleChildEvent($event)"/>
    </div>
    <div class="row">
      <app-button [letter]="'4'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'5'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'6'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'-'" [color] = "'#FD8D0E'" (childEvent)="handleChildEvent($event)"/>
    </div>
    <div class="row">
      <app-button [letter]="'1'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'2'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'3'" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'+'" [color] = "'#FD8D0E'" (childEvent)="handleChildEvent($event)"/>
    </div>
    <div class="row">
      <app-button [letter]="'0'" [large] = "true" (childEvent)="handleChildEvent($event)"/>
      <app-button [letter]="'.'" (childEvent)="handleChildEvent($event)"/>
      <app-button 
        [letter]="'='"
        [color] = "'#FD8D0E'"
        (click)="handleChildEvent($event)"
      />
    </div>
  </div>
</div>